.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background: #000000;
  background: linear-gradient(to right, #212020, #ca9912);
  min-height: 100vh;
  overflow-x: hidden;
}
