.profile-head {
  transform: translateY(5rem);
}

.cover {
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background: #000000;
  background: linear-gradient(to right, #212020, #ca9912);
  min-height: 100vh;
  overflow-x: hidden;
}

.btn-like {
  top: 80%;
  left: 48.75%;
}

#profilePicture {
  height: 150px;
  width: 150px;
}

.image-size img{
  width: 100%;
  height: 100%;
  max-width: 100px;
}
